server:
  port: 8080

spring:
  application:
    name: joardo-construcao
  
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/joardo_db}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver
  
  sql:
    init:
      mode: always

  thymeleaf:
    cache: false